body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3, p {
  font-family: "Hind Vadodara", sans-serif;
  color: white;
  margin: 0;
  font-weight: 400;
}

h2 {
  font-family: "Hind Vadodara", sans-serif;
  font-weight: 700;
  color: #161618;
  margin: 0;
}

#overlay {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
}

.slider-label {
  font-family: "Hind Vadodara", sans-serif;
  font-weight: 500;
  color: #161618;
  margin: 0;
  margin-left: 30px;
  min-width: 117px;
}

#task {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}

.task-container, #close-task {
  display: flex;
  width: 100%;
  min-width: 480px;
  max-width: 520px;
  height: 200px;
  background: none;
  border-radius: 30px;
  margin: auto;
}
.task-container .container-left, #close-task .container-left, .task-container .container-left .row-1 .div-title, #close-task .container-left .row-1 .div-title, .task-container .container-left .row-3 .div-title, #close-task .container-left .row-3 .div-title, .task-container .container-left .row-2 .div-title, #close-task .container-left .row-2 .div-title, .task-container .container-left .row-1 .div-title .row-1, .task-container .container-left .row-3 .div-title .row-1, .task-container .container-left .row-1 .div-title .row-3, .task-container .container-left .row-3 .div-title .row-3, .task-container .container-left .row-2 .div-title .row-1, .task-container .container-left .row-2 .div-title .row-3, .task-container .container-left .row-1 .div-title .row-2, .task-container .container-left .row-3 .div-title .row-2, .task-container .container-left .row-2 .div-title .row-2, .task-container .container-left .row-1, #close-task .container-left .row-1, .task-container .container-left .row-3, #close-task .container-left .row-3, .task-container .container-left .row-2, #close-task .container-left .row-2 {
  width: 280px;
  height: 200px;
  background-color: #4b5358;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  display: flex;
  flex-direction: column;
}
.task-container .container-left .row-1, #close-task .container-left .row-1, .task-container .container-left .row-3, #close-task .container-left .row-3, .task-container .container-left .row-2, #close-task .container-left .row-2, .task-container .container-left .row-1 .div-title .row-1, .task-container .container-left .row-3 .div-title .row-1, .task-container .container-left .row-1 .div-title .row-3, .task-container .container-left .row-3 .div-title .row-3, .task-container .container-left .row-2 .div-title .row-1, .task-container .container-left .row-2 .div-title .row-3, .task-container .container-left .row-1 .div-title .row-2, .task-container .container-left .row-3 .div-title .row-2, .task-container .container-left .row-2 .div-title .row-2 {
  width: 240px;
  height: 50px;
  margin: 0;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.task-container .container-left .row-1 .div-title, #close-task .container-left .row-1 .div-title, .task-container .container-left .row-3 .div-title, #close-task .container-left .row-3 .div-title, .task-container .container-left .row-2 .div-title, #close-task .container-left .row-2 .div-title {
  height: 50px;
  margin: 0;
  align-items: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}
.task-container .container-left .row-2, #close-task .container-left .row-2 {
  height: 100px;
  width: 240px;
  justify-content: flex-start;
}
.task-container .container-left .row-3, #close-task .container-left .row-3 {
  height: 50px;
  width: 240px;
  flex-direction: row;
  justify-content: space-between;
}
.task-container .container-left .row-3 .task-nav-icon, #close-task .container-left .row-3 .task-nav-icon {
  margin-bottom: 0;
  margin-top: 0;
  height: 50px;
  width: 50px;
  background-color: none;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  border-bottom: 0px solid;
  border-bottom-color: #4b5358;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.task-container .container-left .row-3 .task-nav-icon:focus, #close-task .container-left .row-3 .task-nav-icon:focus {
  border-bottom: 0px solid;
  border-color: #e36397;
  background-color: rgba(216, 228, 255, 0.322);
  outline: none;
}
.task-container .container-left .row-3 .task-nav-icon:hover, #close-task .container-left .row-3 .task-nav-icon:hover {
  border-bottom: 0px solid;
  border-color: #e36397;
  background-color: rgba(216, 228, 255, 0.322);
}
.task-container .task-nav-icon-plain, #close-task .task-nav-icon-plain {
  margin-bottom: 0;
  margin-top: 0;
  height: 50px;
  width: 50px;
  background-color: none;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  border-bottom: 0px solid;
  border-bottom-color: #4b5358;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  outline: none;
  cursor: pointer;
}
.task-container .container-right, #close-task .container-right {
  width: 200px;
  height: 200px;
  background-color: #7796cb;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.task-container .container-right .row-1-right, #close-task .container-right .row-1-right, .task-container .container-right .row-2-right, #close-task .container-right .row-2-right {
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.task-container .container-right .row-2-right, #close-task .container-right .row-2-right {
  flex-direction: column;
  justify-content: flex-start;
}
.task-container .container-right .row-2-right .li-wrap, #close-task .container-right .row-2-right .li-wrap {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding-left: 0px;
  padding-right: 0px;
}
.task-container .container-right .row-2-right .li-left, #close-task .container-right .row-2-right .li-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-container .container-right .row-2-right .milestone-svg-container, #close-task .container-right .row-2-right .milestone-svg-container {
  display: flex;
  align-items: center;
  align-content: center;
}

#task-details {
  height: 150px;
  width: 400px;
  background-color: #e36397;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

.container-sliders {
  width: 100%;
  height: 50%;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  height: 10px;
  appearance: none;
  width: 100%;
  /* Full-width */
  height: 3px;
  /* Specified height */
  background: #161618;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s;
  /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 10px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #e36397;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

.task-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#close-icon-svg {
  cursor: pointer;
}

.settings-box, .settings-row-inner, .settings-row, #settings-box-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
}

.settings-row {
  flex-direction: row;
}
.settings-row h3 {
  color: #161618;
}

.settings-row-inner h3 {
  color: #161618;
}

.settings-input {
  width: 150px;
  border-bottom: 2px solid #161618;
  margin-left: 20px;
  margin-right: 20px;
}

.dropdown-p {
  color: #161618;
}

.task-nav-svg-container {
  cursor: pointer;
}

#dropdown-arrow:hover {
  stroke-width: 8;
  stroke: #e36397;
}

#dropdown-arrow:focus {
  stroke-width: 8;
  stroke: #e36397;
}

#all-tasks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dropdown, .dropdown .view-tasks {
  width: 250px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown .view-tasks {
  margin-top: 0px;
  flex-direction: column;
  width: 250px;
}
.dropdown .title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  width: 250px;
}

.dropdown-list, #dropdown-tasks {
  cursor: pointer;
  position: fixed;
  list-style: none;
  border-radius: 10px;
  top: 25%;
  width: 250px;
  padding: 0;
}
.dropdown-list .dropdown-item, #dropdown-tasks .dropdown-item, .dropdown-list .dropdown-item-last, #dropdown-tasks .dropdown-item-last, .dropdown-list .dropdown-item-first, #dropdown-tasks .dropdown-item-first {
  background-color: #d8e4ff;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  padding-right: 20px;
}
.dropdown-list .dropdown-item:hover, #dropdown-tasks .dropdown-item:hover, .dropdown-list .dropdown-item-last:hover, #dropdown-tasks .dropdown-item-last:hover, .dropdown-list .dropdown-item-first:hover, #dropdown-tasks .dropdown-item-first:hover {
  cursor: pointer;
  background-color: #7796cb;
}
.dropdown-list .dropdown-p, #dropdown-tasks .dropdown-p {
  color: #161618;
}
.dropdown-list .dropdown-item-first, #dropdown-tasks .dropdown-item-first {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.dropdown-list .dropdown-item-last, #dropdown-tasks .dropdown-item-last {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#dropdown-tasks {
  position: static;
  width: 100%;
  top: 40px;
}

.all-tasks-container {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
  max-width: 1100px;
  margin-left: 10%;
  margin-right: 10%;
}
.all-tasks-container .column-div {
  width: 25%;
  margin-left: 10px;
  margin-right: 10px;
  min-width: 150px;
}
.all-tasks-container .all-tasks-r1 {
  display: flex;
  height: 10%;
  min-height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 8px solid;
  border-bottom-color: #161618;
  align-items: flex-start;
  justify-content: flex-start;
}
.all-tasks-container #all-tasks-r1-1 {
  border-bottom-color: #161618;
}
.all-tasks-container #all-tasks-r1-2 {
  border-bottom-color: #7796cb;
}
.all-tasks-container #all-tasks-r1-3 {
  border-bottom-color: #e36397;
}
.all-tasks-container #all-tasks-r1-4 {
  border-bottom-color: #63c132;
}
.all-tasks-container .all-tasks-r2 {
  height: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.task-prev {
  background-color: #4b5358;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 25px;
  height: 40px;
  margin-bottom: 10px;
}

#voting-view {
  margin-top: 10%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 80%;
  padding-right: 5%;
  padding-left: 5%;
}

.voting-container, .new-team-container, #voting-container-right, #voting-container-left, .voting-separator {
  height: 100%;
  width: 45%;
}

.task-prev {
  background-color: #4b5358;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 25px;
  height: 40px;
  margin-bottom: 10px;
  width: 100%;
  min-width: 190px;
  max-width: 260px;
}

.voting-separator {
  width: 2px;
  background-color: #4b5358;
  border-radius: 5px;
}

#voting-container-left {
  width: 30%;
}

#voting-container-right {
  width: 65%;
}

#task-details-voting {
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 30px;
}

.task-prev-hover {
  background-color: #4b5358;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 25px;
  height: 40px;
  margin-bottom: 10px;
}
.task-prev-hover:hover {
  background-color: #7796cb;
  cursor: pointer;
}

#voting-container-task {
  margin-top: 50px;
  width: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#close-task {
  height: 50px;
  width: 100%;
  justify-content: flex-end;
}

#close-icon {
  height: 50px;
  width: 50px;
  background-color: brown;
}

#new-team {
  box-sizing: border-box;
  display: flex;
  flex: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  margin-top: 10%;
  min-width: 550px;
}

.new-team-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.new-team-container {
  min-width: 190px;
}

.text-box {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.text-box #description {
  margin-top: 10px;
  text-align: justify;
  color: #161618;
}

.new-team-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-box {
  box-sizing: border-box;
  flex-wrap: wrap;
  display: flex;
  margin-top: 10px;
}
.avatar-box .avatar-container {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 80px;
  align-items: center;
  justify-content: center;
}
.avatar-box .name-div {
  display: flex;
  flex: row;
}
.avatar-box .name-text {
  color: #161618;
}
.avatar-box #avatar-container-plus {
  box-sizing: border-box;
  padding-bottom: 24px;
}

.new-team-tasks-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#tasks-container-plus {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-container {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-container .nav-bar {
  margin-top: 20px;
  padding: 0px;
  width: 350px;
  height: 50px;
  border-radius: 25px;
  background-color: #4b5358;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-width: 312px;
}

.nav-icon {
  margin-bottom: 0;
  margin-top: 0;
  height: 45px;
  width: 50px;
  background-color: none;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  border-bottom: 5px solid;
  border-bottom-color: #4b5358;
}
.nav-icon:focus {
  border-bottom: 5px solid;
  border-color: #e36397;
  background-color: rgba(216, 228, 255, 0.322);
  outline: none;
}
.nav-icon:hover {
  border-bottom: 5px solid;
  border-color: #e36397;
  background-color: rgba(216, 228, 255, 0.322);
}

.nav-svg {
  position: relative;
  top: 10px;
  left: 10px;
  fill: none;
  stroke-width: 5px;
  stroke: #161618;
  stroke-width: 4;
}

/*# sourceMappingURL=nav.css.map */
