$darkGrey: rgb(22, 22, 24);
$grey: rgba(75, 83, 88, 1);
$lightGrey: rgba(122, 129, 140, 1);
$blue: rgba(119, 150, 203, 1);
$lightBlue: rgba(216, 228, 255, 1);
$lightBlueOverlay: rgba(216, 228, 255, 0.322);
$lightBlueStrong: rgba(216, 228, 255, 1);
$green: rgba(99, 193, 50, 1);
$lightGreen: rgba(99, 193, 50, 0.5);
$pink: rgba(227, 99, 151, 1);
$white: rgb(255, 255, 255);
$inactiveGrey: rgba(75, 83, 88, 0.2);

@media only screen and (max-width: 736px) {
    .new-team-box {
        width: 90vw !important;
        flex-direction: column;
        height: auto !important;
    }
    .new-team-container {
        margin-top: 30px;
    }
    #new-team {
        height: auto;
        margin-top: 30px;
    }

}



#new-team {
    box-sizing: border-box;
    display: flex;
    flex: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    min-width: 550px;
}
.new-team-box {
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 4px 4px 9px #777;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 70%;    
}
.new-team-container {
    @extend .voting-container;
    min-width: 190px;
}
#new-team-container-right {
    position: relative;
}
.text-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    #description {
        margin-top: 10px;
        text-align: justify;
        color: $darkGrey;
    }
}
.new-team-title-container {
    border: none;
    text-align: center;
    height: 2.5rem;
    outline: none;
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: 700;
    color: $darkGrey;
    font-size: 1.5rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.change::placeholder {
    color: $darkGrey;
}

.new-team-description-container {
    margin-top: 20px;
    resize: none;
    word-wrap: break-word;
    text-align: justify;
    text-justify: inter-word;
    height: 200px;
    width: 100%;
    outline: none;
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: 400;
    color: $darkGrey;
    font-size: 1rem;
    border: none;
}
.avatar-container {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 80px;
    align-items: center;
    justify-content: center;
    p {
        color: $darkGrey;
    }
}
.avatar-box {
    box-sizing: border-box;
    flex-wrap: wrap;
    display: flex;
    margin-top: 10px;    
    .name-div {
        display: flex;
        flex: row;
    }
    .name-text {
        color: $darkGrey;
    }
    #avatar-container-plus {
        box-sizing: border-box;
        padding-bottom: 24px;
    }    
}
.new-team-tasks-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#tasks-container-plus {
    display: flex;
    align-items: center;
    justify-content: center;
}
#create-team-button {
    top: 80%;
    position: absolute;
    margin-left: 60%;
}
.separator-horizontal {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    height: 2px;
    background-color: #4b5358;
    border-radius: 5px;
}
.message-container {
    height: 3rem;
    display: flex;
    background-color: $lightBlue;
    align-items: center;
    justify-items: center;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    p {
        padding-right: 40px;
        width: 100%;
        color: $darkGrey;
    }
    svg {
        box-sizing: border-box;
        padding: 5px;
        position: absolute;
        right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

.new-team-messages {
    animation: fade_in 0.2s ease-in;
    position: absolute;
    border-radius: 10px;
    top: 100px;
    height: 2rem;
    width: 80%;
    background-color: $lightGreen;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 5px;
    p {
        color: $darkGrey;
    }

}

@keyframes fade_in {
    0% {
        transform: translateX(-200px)
    }
    100% {
        transform: translateX(0px)
    }
}
#tasks-svg-container-plus {
    cursor: pointer;
}

.nav-svg-inactive {
    @extend .nav-svg;
    stroke: $inactiveGrey !important;
}
